.country {
  margin: 20px;
  width: 18rem;
}

.title {
  margin-bottom: 15px;
}

.body {
  margin-top: 20px;
  padding-block: 40px;
  border-radius: 10%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 2px solid #00000000;
  background-color: #abd1c6;
  color: #fffffe;
  height: 220px;
  width: 250px;
  text-shadow: 1px 1px 1px #001e1d;
}

.body:hover {
  border-color: #f9bc60;
}

.flag {
  width: 150px;
  height: 100;
}
