.cards {
  margin-top: 0px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-bottom: 0px;
}

body {
  background-color: #004643;
  color: #fffffe;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

button {
  background-color: #f9bc60;
  color: #001e1d;
  margin: 5px;
  border-radius: 20px;
  border-color: #004643;
  cursor: pointer;
  height: 30px;
}

button:hover{
  border-color: #fdd599;
}

select {
  background-color: #f9bc60;
  color: #001e1d;
  border-radius: 20px;
}

input {
  background-color: #abd1c6;
}

.searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #001e1d;
}

.filters {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 0px;
}

.orderButtons {
  padding: 20px;
}

.filterButtons {
  padding: 20px;
  display: flex;
  flex-direction: row;
  margin: 5px;
  margin-top: 3px;
}

.orderSelectFilters {
  display: flex;
  flex-flow: column;
  margin-right: 10px;
}

select{
  height: 30px;
}

.unfilter {
  margin-bottom: 25px;
  align-self: flex-end;
  padding: 10px;
  flex-direction: unset;
  height: 40px;
  
}

.unfilter:disabled{
  cursor: default;
}

.countries {
  display: flex;
  flex-direction: column;
  margin: none;
  border:none;
  padding-bottom: 0px;
}

a {
  text-decoration: none;
}

.pagination {
  position: relative;
  display: flex;
  justify-content: space-around;
}
